@import '../settings/fonts.scss';

html {
    background: var(--global-background);
}

body {
    color: var(--global-text-color);
    font-size: 100%;
    line-height: 1.5;
    // TODO
    font-family: $alpha-font-stack;
}