:root {
  // DARK MODE
  --global-dark-color: #222222;
  --global-light-color: #fdfdfd;

  --global-text-color: var(--global-dark-color);
  --global-background: var(--global-light-color);

  // THEME COLOR
  --global-theme-color: orange;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --global-text-color: var(--global-light-color);
    --global-background: var(--global-dark-color);
  }
}
